import(coda, fields, maps, Matrix, nlme, methods)
importFrom(stats, window)

export(
   corRExp,
   corRExpwr,
   corRGaus,
   corRGneit,
   corRLin,
   corRMatern,
   corRCauchy,
   corRSpher,
   corRWave,
   corRExp2,
   corRExpwr2,
   corRExpwr2Dt
)

export(
   DIC,
   expand.chain,
   georamps,
   param,
   ramps.control
)

export(
   genUSStateGrid,
   genUSStateSites
)

## for testing
## export(
##    mpdbeta,
##    mpdbetaz,
##    mpdpred,
##    ramps.engine
## )

S3method(coef, corRSpatial)
S3method(coef, corRSpatioTemporal)
S3method("coef<-", corRSpatial)
S3method("coef<-", corRSpatioTemporal)
S3method(corFactor, corRExpwr2Dt)
S3method(corFactor, corRSpatial)
S3method(corFactor, corRSpatioTemporal)
S3method(corMatrix, corRExpwr2Dt)
S3method(corMatrix, corRSpatial)
S3method(corMatrix, corRSpatioTemporal)
S3method(DIC, ramps)
S3method(Dim, corRExpwr2Dt)
S3method(Dim, corRSpatial)
S3method(Dim, corRSpatioTemporal)
S3method(getCovariate, corRExpwr2Dt)
S3method(getCovariate, corRSpatial)
S3method(getCovariate, corRSpatioTemporal)
S3method(Initialize, corRExp2)
S3method(Initialize, corRExpwr)
S3method(Initialize, corRExpwr2)
S3method(Initialize, corRExpwr2Dt)
S3method(Initialize, corRMatern)
S3method(Initialize, corRSpatial)
S3method(Initialize, corRSpatioTemporal)
S3method(length, param)
S3method(predict, ramps)
S3method(print, corRStruct)
S3method(print, predict.ramps)
S3method(print, ramps)
S3method(summary, ramps)
S3method(plot, predict.ramps)
S3method(plot, ramps)
S3method(window, predict.ramps)
S3method(window, ramps)
